.container {
  width: 100%;
  padding: 16px;
  background-color: black;
}

.grid {
  width: 100%;
  background-color: black;
}

.gridCol {
  background: #fff;
  border: 1px solid #e5e5e5;
  border-radius: 8px;
  padding: 16px;
  box-sizing: border-box;
  background-color: black;
}