.card {
  display: flex;
  width: 100%;
  height: 100%;
  min-height: 0;
  flex-direction: column;
  margin-top: 14px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title {
  display: flex;
  align-items: center;
  gap: 8px;
}

.previousButton {
  display: flex;
  color: var(--mantine-color-gray-5);
  transition: color 0.2s ease;
}

.previousButton:hover {
  color: var(--mantine-color-gray-3);
}

.grid {
  min-height: 0;
  flex: 1;
}

.logItem {
  display: flex;
  overflow: hidden;
  border: 1px solid var(--mantine-color-dark-4);
  border-radius: var(--mantine-radius-xs);
  background-color: #212529;
}

.dateBlock {
  padding: 8px 12px;
  background: var(--mantine-color-dark-4);
  color: var(--mantine-color-white);
  text-align: center;
  font-size: 18px;
  background-color: #343a40;
}

.day {
  font-weight: 500;
}

.time {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: flex-end;
}

.totalCard {
  display: flex;
  height: 100%;
  min-height: 0;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--mantine-color-dark-4);
  border-radius: var(--mantine-radius-xs);
  background: var(--mantine-color-dark-4);
  color: var(--mantine-color-gray-2);
  background-color: #343a40;
}

.totalTime {
  font-size: 24px;
  font-weight: 500;
}

.totalLabel {
  color: var(--mantine-color-gray-5);
  font-size: 14px;
  font-weight: 600;
}
